@import "tailwindcss";

@theme {
  --color-blue-900: #102571;
  --color-blue-800: #1e3787;
  --color-blue-700: #264093;
  --color-blue-600: #304a9f;
  --color-blue-500: #3652a8;
  --color-blue-400: #566bb5;
  --color-blue-300: #7486c1;
  --color-blue-200: #9ba8d3;
  --color-blue-100: #c3cae5;
  --color-blue-50: #e7eaf4;

  --color-cyan-900: #315c61;
  --color-cyan-800: #3b808c;
  --color-cyan-700: #4194a4;
  --color-cyan-600: #48a8be;
  --color-cyan-500: #4eb8d1;
  --color-cyan-400: #53c3d9;
  --color-cyan-300: #66cde1;
  --color-cyan-200: #8cdceb;
  --color-cyan-100: #b7eaf3;
  --color-cyan-50: #e2f6fb;

  --color-gold-500: #db890d;
  --color-gold-200: #e9c385;
  --color-gold-100: #f2dab4;
  --color-gold-50: #f9f1e1;

  --color-purple-900: #4c3466;
  --color-purple-800: #653e7c;
  --color-purple-600: #834c92;
  --color-purple-300: #b07db8;
  --color-purple-100: #dcc5e1;

  --color-neutral-1000: #000000;
  --color-neutral-900: #333333;
  --color-neutral-800: #464646;
  --color-neutral-700: #616161;
  --color-neutral-600: #777777;
  --color-neutral-500: #8e8e8e;
  --color-neutral-400: #a4a4a4;
  --color-neutral-300: #bbbbbb;
  --color-neutral-200: #d2d2d2;
  --color-neutral-100: #e8e8e8;
  --color-neutral-50: #f4f4f4;
  --color-neutral-0: #ffffff;

  --color-success-900: #006400;
  --color-success-800: #008300;
  --color-success-700: #009400;
  --color-success-600: #00a611;
  --color-success-500: #17b51c;
  --color-success-400: #4bc147;
  --color-success-300: #70cc6b;
  --color-success-200: #9cda97;
  --color-success-100: #c3e8c0;
  --color-success-50: #e6f6e5;

  --color-error-900: #c7000e;
  --color-error-800: #d7011c;
  --color-error-700: #e41324;
  --color-error-600: #f6242a;
  --color-error-500: #ff3129;
  --color-error-400: #f6242a;
  --color-error-300: #f46e6e;
  --color-error-200: #fa9897;
  --color-error-100: #ffccd1;
  --color-error-50: #ffebee;

  --color-warning-900: #ec6a00;
  --color-warning-800: #ed8800;
  --color-warning-700: #ee9800;
  --color-warning-600: #eeab00;
  --color-warning-500: #eeb808;
  --color-warning-400: #f0c227;
  --color-warning-300: #f2ce4d;
  --color-warning-200: #f6db80;
  --color-warning-100: #f9e9b2;
  --color-warning-50: #fdf7e0;

  --font-poppins: var(--font-poppins);
  --font-inter: var(--font-inter);
}
